In [13]:
# load the package 
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

## Load the data

In [16]:
# load the transform data source
# dataset1
ID = pd.read_csv("./Transform_Data/ID.csv")
ID = ID.loc[:, ~ID.columns.str.contains('^Unnamed')]
# dataset2
room = pd.read_csv("./Transform_Data/room.csv")
room = room.loc[:, ~room.columns.str.contains('^Unnamed')]
# dataset3 
state = pd.read_csv("./Transform_Data/state.csv")
state = state.loc[:, ~state.columns.str.contains('^Unnamed')]
# dataset4
weather = pd.read_csv("./Transform_Data/weather.csv")
weather = weather.loc[:, ~weather.columns.str.contains('^Unnamed')]
# dataset5
usairbnb2020 = pd.read_csv("./Transform_Data/usairbnb2020.csv")
usairbnb2020 = usairbnb2020.loc[:, ~usairbnb2020.columns.str.contains('^Unnamed')]
# dataset6
usairbnb2022 = pd.read_csv("./Transform_Data/usairbnb2022.csv")
usairbnb2022 = usairbnb2022.loc[:, ~usairbnb2022.columns.str.contains('^Unnamed')]
# dataset7
crime = pd.read_csv("./Transform_Data/crime.csv")
crime = crime.loc[:, ~crime.columns.str.contains('^Unnamed')]
# dataset8
OSMR = pd.read_csv("./Transform_Data/OSMR.csv")
OSMR = OSMR.loc[:, ~OSMR.columns.str.contains('^Unnamed')]
# dataset 9 
cities_pd = pd.read_csv("./Transform_Data/cities_pd.csv")
cities_pd = cities_pd.loc[:, ~cities_pd.columns.str.contains('^Unnamed')]

In [15]:
cities_pd.head(0)

Empty DataFrame
Columns: [city, state, lat, lng, airport_name, airport_address, airport_ratng]
Index: []

## Connect to local database

In [8]:
protocol = 'postgresql'
username = 'postgres'
password = 'Elliot'
host = 'localhost'
port = 5432
database_name = 'airbnb_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)


# # postgresql://user:password@localhost:5432/database_name
# engine = create_engine('postgresql://postgres:Elliot@localhost:5432/challenage9')
# connection = engine.connect()
# %reload_ext sql
# %sql postgresql://user:password@localhost:5432/database_name

## Check for tables

In [9]:
engine.table_names()

/var/folders/cl/3078jkyx5kq_gw3nfjk3j9tw0000gn/T/ipykernel_6659/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['ident', 'room', 'weather', 'crime', 'usairbnb2020', 'osmr', 'cities']

## Use pandas to load csv converted DataFrame into database

In [25]:
# load the first dataset ID
ID.to_sql(name='ident', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ident_pkey"
DETAIL:  Key (id)=(38585) already exists.

[SQL: INSERT INTO ident (id, id_name, host_id, host_name) VALUES (%(id)s, %(id_name)s, %(host_id)s, %(host_name)s)]
[parameters: ({'id': 38585, 'id_name': 'Charming Victorian home - twin beds + breakfast', 'host_id': 165529, 'host_name': 'Evelyne'}, {'id': 80905, 'id_name': 'French Chic Loft', 'host_id': 427027, 'host_name': 'Celeste'}, {'id': 108061, 'id_name': 'Walk to stores/parks/downtown. Fenced yard/Pets OK', 'host_id': 320564, 'host_name': 'Lisa'}, {'id': 155305, 'id_name': "Cottage! BonPaul + Sharky's Hostel", 'host_id': 746673, 'host_name': 'BonPaul'}, {'id': 160594, 'id_name': 'Historic Grove Park', 'host_id': 769252, 'host_name': 'Elizabeth'}, {'id': 209068, 'id_name': 'Terrace Cottage', 'host_id': 1029919, 'host_name': 'Kevin'}, {'id': 213006, 'id_name': 'Blue Gate West', 'host_id': 1098412, 'host_name': 'Susanne'}, {'id': 246315, 'id_name': "Asheville Dreamer's Cabin", 'host_id': 1292070, 'host_name': 'Annie'}  ... displaying 10 of 177394 total bound parameter sets ...  {'id': 45385834, 'id_name': 'Brand new modern apartment with private entry', 'host_id': 16561471, 'host_name': 'Victor'}, {'id': 45472150, 'id_name': 'LUXE 1-BR STUDIO SPACE / Desirable Location + Well-equipped', 'host_id': 367917574, 'host_name': 'Tara'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [58]:
pd.read_sql_query('select * from ident', con=engine).head()

,id,id_name,host_id,host_name
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne
1,80905,French Chic Loft,427027,Celeste
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul
4,160594,Historic Grove Park,769252,Elizabeth

In [62]:
# load the second dataset room
room.to_sql(name='room', con=engine, if_exists='append', index=False)

394

In [63]:
pd.read_sql_query('select * from room', con=engine).head()

,id,room_type,price,minimum_nights,availability_365,number_of_reviews,reviews_per_month
0,38585,Private room,60,1,0,138,1.14
1,80905,Entire home/apt,470,1,288,114,1.03
2,108061,Entire home/apt,75,30,298,89,0.81
3,155305,Entire home/apt,90,1,0,267,2.39
4,160594,Private room,125,30,0,58,0.52

In [75]:
# load the third dataset weather
usairbnb2020.to_sql(name='usairbnb2020', con=engine, if_exists='append', index=False)

28

In [76]:
pd.read_sql_query('select * from weather', con=engine).head()

             city    lat    lng  temputature  humidity  cloudiness  wind_speed
0       Asheville  35.60 -82.55        45.28        87          40        3.44
1          Austin  30.27 -97.74        76.53        44          75       14.00
2          Boston  42.36 -71.06        43.34        74           0        8.01
3  Broward County  26.12 -80.14        77.86        86         100       18.41
4       Cambridge  43.36 -80.31        43.09        70          75       11.50

In [83]:
#load the fourth dataset airbnb 2020
usairbnb2020.to_sql(name='usairbnb2020', con=engine, if_exists='append', index=False)

394

In [84]:
pd.read_sql_query('select * from usairbnb2020', con=engine).head()

,year,id,host_id,city,state,latitude,longitude,room_type,price,minimum_nights,availability,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2020,38585,165529,Asheville,North Carolina,35.65,-82.63,Private room,60,1,None,138,16/02/20,1.14,1,0
1,2020,80905,427027,Asheville,North Carolina,35.60,-82.56,Entire home/apt,470,1,None,114,07/09/20,1.03,11,288
2,2020,108061,320564,Asheville,North Carolina,35.61,-82.56,Entire home/apt,75,30,None,89,30/11/19,0.81,2,298
3,2020,155305,746673,Asheville,North Carolina,35.58,-82.60,Entire home/apt,90,1,None,267,22/09/20,2.39,5,0
4,2020,160594,769252,Asheville,North Carolina,35.61,-82.54,Private room,125,30,None,58,19/10/15,0.52,1,0

In [29]:
#load the fifth dataset crime
crime.to_sql(name='crime', con=engine, if_exists='append', index=False)

19

In [31]:
pd.read_sql_query('select * from crime', con=engine).tail()

,state_abbrevation,state,popultion,robbery_rate,homicide_rate,burglary_rate,motor_vehicle_theft_rate
14,TN,Rhode Island,6886834,0.0,0.0,0.00,0.0
15,TX,Tennessee,29360759,0.0,0.0,0.00,0.0
16,WA,Texas,7693612,0.0,0.0,0.01,0.0
17,DC,Washington,712816,0.0,0.0,0.00,0.0
18,HI,Hawaii,3455100,0.0,0.0,0.00,0.0

In [ ]:
#load the sixth dataset 
OSMR.to_sql(name='osmr', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from osmr', con=engine).head()

In [17]:
#load the seventh dataset 
cities_pd.to_sql(name='cities', con=engine, if_exists='append', index=False)

28

In [18]:
pd.read_sql_query('select * from cities', con=engine).head()

,city,state,lat,lng,airport_name,airport_address,airport_ratng
0,Asheville,North Carolina,35.60,-82.55,Asheville Regional Airport,"61 Terminal Dr #1, Fletcher",4.2
1,Austin,Texas,30.27,-97.74,Austin-Bergstrom International Airport,"3600 Presidential Blvd, Austin",4.2
2,Boston,Massachusetts,42.36,-71.06,Boston Logan International Airport,Boston,4.1
3,Broward County,Florida,26.19,-80.37,Miami International Airport,"2100 NW 42nd Ave, Miami",4.0
4,Cambridge,Massachusetts,42.37,-71.11,Boston Logan International Airport,Boston,4.1